services:
  ollama:
    container_name: ollama
    image: ollama/ollama:latest
    ports:
      - 11434:11434
    volumes:
      - ./ollama/root:/root/.ollama     
    tty: true
    restart: unless-stopped

  open-webui:
    image: ghcr.io/open-webui/open-webui:main
    container_name: open-webui
    volumes:
      - ./open-webui:/app/backend/data
    depends_on:
      - ollama
    ports:
      - 3000:8080
    environment:
      - 'OLLAMA_BASE_URL=http://ollama:11434'
      - 'WEBUI_SECRET_KEY='
    extra_hosts:
      - host.docker.internal:host-gateway
    restart: unless-stopped

  chatbot_gnn:
    container_name: chatbot_gnn
    build:
       context: ./python
       dockerfile: Dockerfile
    entrypoint: /bin/bash

  jupiterchat:
    container_name: jupiterchat
    build:
       context: ./jupiter
       dockerfile: Dockerfile
    ports:
      - 8888:8888

